* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*setting the font and the font color*/
body {
  font-family: "Playfair Display", serif;
  color: #4e5340;
}

/*placing the nav bar to the top-right of the screen*/
#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #b7d1da;
  height: 60px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

/*giving space to nav links and removing bullets*/
.nav-link {
  padding-right: 30px;
  list-style: none;
}

#social-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  height: 100%;
  padding-left: 1%;
  padding-bottom: 9%;
}

.social-link {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*centering welcome sign*/
#welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 70px;
  padding-top: 120px;
}

/*welcome sign decoration*/
#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0;
  padding: 0 30px;
  width: 300px;
  font-size: 20px;
  background-color: #b7d1da;
}

/*welcome sign photo*/
#ali {
  width: 300px;
  height: 400px;
}

/*centering and styleing main content*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects {
  display: grid;
}

.project-photos {
  width: 300px;
  height: 400px;
  padding: 5px;
  margin: 5px;
  border: solid black 1px;
}

/*center contanct with about and contact containers*/
.about-contact {
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  text-align: center;
  padding: 100px 0 10px 0;
}

.tech-skills {
}

/*styling body headings*/
.main-h2 {
  color: #f79256;
  font-family: "Shrikhand", cursive;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}

/*body list styling*/
.main-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-position: inside;
  padding-top: 10px;
}

/*centering footer and styling*/
footer {
  text-align: center;
  height: 60px;
  background-color: #b7d1da;
  padding-top: 2%;
  margin-top: 30px;
}

hr {
  color: #4e5340;
  width: 600px;
  margin-top: 70px;
}

/*styling links*/
a:link {
  color: #4e5340;
}
a:visited {
  color: #5d2a42;
}
a:hover {
  color: #f79256;
}
a:active {
  color: #fbd1a2;
}
